@font-face {
  font-family: "Chillax-Extralight";
  src: url("../fonts/Chillax-Extralight.woff2") format("woff2"),
    url("../fonts/Chillax-Extralight.woff") format("woff"),
    url("../fonts/Chillax-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chillax-Light";
  src: url("../fonts/Chillax-Light.woff2") format("woff2"),
    url("../fonts/Chillax-Light.woff") format("woff"),
    url("../fonts/Chillax-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chillax-Regular";
  src: url("../fonts/Chillax-Regular.woff2") format("woff2"),
    url("../fonts/Chillax-Regular.woff") format("woff"),
    url("../fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chillax-Medium";
  src: url("../fonts/Chillax-Medium.woff2") format("woff2"),
    url("../fonts/Chillax-Medium.woff") format("woff"),
    url("../fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chillax-Semibold";
  src: url("../fonts/Chillax-Semibold.woff2") format("woff2"),
    url("../fonts/Chillax-Semibold.woff") format("woff"),
    url("../fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chillax-Bold";
  src: url("../fonts/Chillax-Bold.woff2") format("woff2"),
    url("../fonts/Chillax-Bold.woff") format("woff"),
    url("../fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Optional: Variable font */
@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax-Variable.woff2") format("woff2"),
    url("../fonts/Chillax-Variable.woff") format("woff"),
    url("../fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
